// Projects animation
@keyframes scaleLogo { // Animation 
    0% { transform: scale(.7); }
    100% { transform: scale(1.1); }
  }
.logo {
    transition: all 0.3s ease-in-out;
    &:hover { animation: scaleLogo 3s infinite;  }
}
.pr {
    position: relative;
    overflow: hidden;
}
.card-reveal { // with js
    padding: 2rem;
    position: absolute;
    overflow-y: auto;
    top: 100%;
    @include heightWidth;
    transition: all .5s ease;
}
.activeCard { transform: translateY(-100%); } // Project card appears on click with js
.show { // Mobile navigation menu with js
    height: 100%;
    overflow: hidden;
}
.active { // header active link with js
    color:  $heading-color;
    transition: all 0.5s ease-in-out;
}
.cont a {
    transition: all 0.6s ease-in-out; // Animation
    &:hover { transform: scale(.85); }
}