// images
$home-imageD: url(../images/homeD.jpg) no-repeat
center center/cover;
$home-imageM: url(../images/homeM.jpg) no-repeat
center center/cover;

$skills-imageD: url(../images/skillsD.jpg) no-repeat
center center/cover;
$skills-imageM: url(../images/skillsM.jpg) no-repeat
center center/cover;

$projects-imageD: url(../images/projectsD.jpg) no-repeat
center center/cover;
$projects-imageM: url(../images/projectsM.jpg) no-repeat
center center/cover;

$contact-imageD: url(../images/contactD.jpg) no-repeat
center center/cover;
$contact-imageM: url(../images/contactM.jpg) no-repeat
center center/cover;

img {
    max-width: 100%;
    height: auto;
    border-radius: .2rem;
}
.proj div {
    background-color: $nav-background;
    border: solid 2px $nav-background;
    border-radius: .2rem; 
    transition: all 0.5s ease-out;
    &:hover { border-color: $hover-icon-home; }
    &.card-reveal { 
      display: flex;
      flex-direction: column;
      color: $text-card;
      h4 { 
        color: $hover-icon-home;
        cursor: pointer;
        font-family: Roboto, sans-serif;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: .7rem;
        margin-left: 1.3rem;
        i {
          font-size: 1.5rem;
          font-weight: 600;
          margin-left: 1rem;
          margin-right: 0;
        }
       }
       a {
         display:flex;
         margin-top: auto;
         h4 { 
          color: $heading-color; 
          transition: all .5s ease-in;
          &:hover { transform: scale(0.9); }
        }
      }
    }
}
section#home, section#skills, section#projects, section#contact {
    position: relative;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 2rem 4rem;
  @include break(501px) { align-items: flex-start; }
}
section#home::after {
  background: $home-imageM;
  @include break(630px) { background: $home-imageD; }
  @include sectionImage;
} 
section#skills::after {
  background: $skills-imageM;
  @include break(630px) { background: $skills-imageD; }
  @include sectionImage;
  opacity: 0.2;
}
section#skills {
  height: 100%;
  h2 { padding-top: 8rem;}
  h2.second { padding-top: 3rem; }
  @include break(501px) {height: 100vh; align-items: center;}
}
section#projects {
  height: 100%;
  .heading { padding-top: 8rem; }
  @include break(501px) {
    align-items: center;
    .heading.light { 
      align-self: flex-start;
      padding-left: 3rem;
    }
  }
}
section#contact {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include break(501px) { align-items: flex-end; }
  }
  height: 100%;
  .heading { padding-top: 8rem; }
  @include break(501px) { height: 100vh; align-items: flex-end; }
}
section#projects::after {
  background: $projects-imageM;
  @include break(630px) { background: $projects-imageD; }
  @include sectionImage;
}
section#contact::after {
  background: $contact-imageM;
  @include break(630px) { background: $contact-imageD; }
  @include sectionImage;
}