header {
    background: $nav-background;
    border-bottom: 1px solid $header-border;
    opacity: .85;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .logo { width: 180px; }
    @extend %bar; // extend shallow class bar
    input[type=checkbox] {
        position: absolute;
        top: -999em;
        left: -999em;
    }
    label {
        display: block;
        background: url(../images/hamburger-menu.png)no-repeat right center;
        text-indent: -999em;
        height: 44px;
        cursor: pointer;
        @include browsers; // include mixin browsers
        user-select: none;
        position: relative;
        top: 2px;
        right: 8px;
        @include break(500px) { display: none; }
    }
    nav {
        height: 0;
        overflow: hidden;
        @include break(500px) {
            height: 100%;
            overflow: visible;
        }
        ul{
            @include break(0, 630px) { .logo { display: none; } }
            li {
                border-radius: nth($pd,1);
                @include linx($text-color, $heading-color, $green);
                a { 
                    font-weight: bold;
                    display: block;
                    padding: nth($pd,3) nth($pd,3)-2;
                    text-transform: uppercase;
                }
            } 
            @include break(500px) {
                display: flex;
                justify-content: center;
                li:first-of-type { margin-right: auto; }
                li {
                    a {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        width: 10rem;
                        height: 5.6rem;
                        &.logo { padding: 0; }
                    }
                }
            }
        }
    }
}
// smooth underline when hover over menu link
nav a {
	@include break(501px) {
        position: relative;
    cursor: pointer;
    &:after {
        display: block;
        position: absolute;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        bottom: 8px;
        width: 0;/*задаём длинну линии до наведения курсора*/
        height: 2px; /*задаём ширину линии*/
        background-color:$heading-color; /*задаём цвет линии*/
        content: "";
        transition: width 0.3s ease-out; /*задаём время анимации*/
    }
    &:hover:after,
    &:focus:after {
        width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }
    }
}
