* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.container {
    font-family: $font-body;
    margin: 0 auto;
    max-width: 960px;
    line-height: 1.55;
    %fz { font-size: $size-text; }
    // @include break(800px) { box-shadow: 0px 3px 8px 3px $shadow; }
}
%bar{ background-color: $nav-background; }
footer {
    @extend %bar;
    text-align: center;
}
p {
    @extend %fz;
    color: $text-color;
    padding-bottom: nth($pd, 3);  // nth($list, $n) function which takes 3rd element (12px) from list $pd.
    footer & {
        color: $nav-color;
        padding: nth($pd, 2);
    }
}
ul {
   margin: nth($pd, 1) nth($pd, 3);
   li {
    @extend %fz;
    list-style-type: none;
    margin: nth($pd, 1);
    
    }
    &.tech {
        display: grid;
        grid-template-columns: 1fr;
        @include break(501px) {
            grid-template-columns: repeat(2, 1fr);
        }
       margin: 0;
        li {
        text-align: left;
        // border-radius: nth($roundness, 1);
        padding: nth($pd, 2);
        margin-right: nth($pd, 5)+30px;
        list-style-type: square;
        transition: all .2s ease-in-out;
        // section &::before {
        //     content: '✓';
        //     padding: nth($roundness, 1);
        //     }
        &:hover { background-color: #666; color: #dedede }
        }
   }
}
%h {
    color: $text-color;
    font-family: $font-headings;
    // padding-top: 6rem;
    // margin-left: nth($pd, 3)+5;
    font-weight: 400;
}
h1, .name {
    font-size: 4rem;
    @extend %h;
}
h2, .fact {
    font-size: 3rem;
    @extend %h;
}
a {
    @extend %fz;
    text-decoration: none;
}
// main {
    // padding: 0 2%;
    // aside { @include linx($aside-color,lighten($green, 15%),$red); }
    // @include break (650px) {
    //     padding-right: 0;
    //     display: grid; // grid system
    //     grid-template-columns: 600/960*100% 100-(600/960*100%); // math operators
    //     section { padding-right: 3.45%; }
    //     aside {
    //         background-color: $background-aside;
    //         background: linear-gradient(90deg, $background-aside 0%, $nav-color 70%);
    //         padding-left: nth($pd, 4);
    //         padding-right: 5.5%;
    //         h2, h3 { color: lighten($heading-color, 12%);}  // color function
    //         p { padding-left: nth($pd, 4) + 2; }
    //     }
    // }
// }


// PORTFOLIO
body {
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    p, li, a, span { font-size: 2.2rem; }
}
#contact p { font-size: 3.8rem; }
i { margin-right: 15px; }
.cont {
    #home & {
        @include break(501px) { display: flex; } 
        
        li { 
            margin-right: 2rem;
            a {
                justify-items: center;

            }
         }
    }
    li {
        margin-bottom: 1.5rem;
        a {
            display: flex;
            align-items: flex-end;
            justify-items: flex-start;
            transition: all 0.6s ease-in-out;
            &:hover {
                transform: scale(.85);
            }
        }
    }
}
body a {
    color: #dedede;
    &:hover, &:active {
        color:  rgb(147, 210, 147);
    }
}

// END PORTFOLIO
.wrapper {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
footer a {
    color: #fff;
    &:hover {
        color:  rgb(147, 210, 147);
    }
}
header a {
    // font-weight: 600;
    // font-style: normal;
    // font-size: 11.5px;
    letter-spacing: .14em;
}
.active { // header active link
      color:  rgb(147, 210, 147);
      transition: all 0.5s ease-in-out;
  }
.name, .fact {
      color: #444;
}
.light {
    color: rgb(61, 142, 61);
}
.home {
    @include break(630px) { color: #444; }
}
.proj {
    display: grid;
    grid-gap: 1.8rem;
    margin: 3rem 0;
    @include break(501px) { grid-template-columns: repeat(2, 1fr); }
    @include break(769px) { grid-template-columns: repeat(3, 1fr); }
}
@media screen and (min-width: 501px) {
    h1, .name {
        font-size: 8.5rem;
        text-align: left;
    }
    h2, .fact {
        font-size: 4rem;
        text-align: left;
    }
    .heading {
        padding-top: 7rem;
    }
    // @each $key, $value in $size-headings { 
    //     #{$key} {
    //         @extend %h; // extend style
    //         font-size: $value;
    //     }
    // }
}
  
