@mixin linx ($link, $hover, $active) { // custom mixin
    a {
      color: $link;
      &:hover {
        color: $hover;   
      }
      &:active { color: $active; }
    }
  }
  @mixin break($args...) {
    @if length($args) == 1 { // if/else 
      @media (min-width: nth($args, 1)) {
        @content;
      }
    } @else {
      @media (min-width: nth($args, 1)) and 
              (max-width: nth($args, 2)) {
                @content;
              }
    } 
  }
  @mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
  }
  @mixin browsers {
    -webkit-user-select: none; /*Chrome all / Safari all */
    -moz-user-select: none; /*Firefox all */
    -ms-user-select: none; /* IE 10+ */
  }
  @mixin heightWidth {
    width: 100%;
    height: 100%;
  }
  @mixin sectionImage {
    content: "";
      position: absolute;
      opacity: 0.5;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
  }