@import url('https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script&display=swap');

$body-background:   #fefffa; // variable
$text-color:        #fff;
$heading-color:     rgb(147, 210, 147);
$nav-background:    #444;
$nav-color:         #fff;
$list-hover:        lightyellow;
$yellow:            rgb(147, 210, 147);
$green:               rgb(42, 138, 42);
$hover-icon-home:   #faa966;
$light-heding:      #9dae8f;
$dark-green:        #445436;
$text-card:         #f5f5f5;
$social:            #dedede;

$pd: 5px 10px 12px 15px 20px; // list property (It used at _media.scss, line #39)
$roundness: 10px 0 20px 0; // list property. (It used at _media.scss, line #27)
$gridColRow: span 2; // list property. (It used at _media.scss, line #44)

$font-body: Verdana, sans-serif;
$font-headings: Verdana, sans-serif;
$size-text: 1.4rem;